{{ partial "header.html" . -}}
<header><h1 id="tag_{{ .Title }}">{{ .Title | title }}</h1></header>
{{ .Content -}}
{{- range.Pages }}
	<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
	<span style="color: #ffffff">{{ .Date.Format "02 January 2006" }}</span><br>
	<br>
	{{ .Summary }}
	<a href="{{ .RelPermalink }}">Read More...</a>
	<br><br>
<i>{{ .WordCount }} words, {{ .ReadingTime }} minute read.<br></i>
	<br>
	{{ with .Params.tags }}Tags: {{ delimit . ", " }}{{ end }}
<hr>
{{ end -}}
{{- partial "footer.html" . }}
